# my custom libraries
notebook
numpy
pandas
matplotlib
plotly
scikit-learn
sphinx==4.0.3
pylint
ruff
nbstripout # after pip installing in the respective virtual environment, invoke `nbstripout --install` in the terminal.
nbconvert
pre-commit  # after install is complete, and you activated the respective Python virtual environment, run `pre-commit install` in the terminal. Before each commit you then invoke `pre-commit run --all-files` in the terminal for the pre-commit scripts to run.


# ReCoDE defaults
mkdocs
mkdocs-include-markdown-plugin==3.7.1
mkdocs-jupyter
mkdocs-material
python-markdown-math
