# my custom libraries
#TA-Lib  # tricky to install; works with Python 3.9 and conda install ta-lib, but not straightforward from pip using pip install TA-Lib
numpy
pandas
matplotlib
plotly
scikit-learn
sphinx==4.0.3
pylint
black

# ReCoDE defaults
mkdocs==1.5.3
mkdocs-include-markdown-plugin==3.7.1
mkdocs-jupyter==0.24.5
mkdocs-material==9.4.6
python-markdown-math==0.8
